<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Registration</title>
    </head>
    <body>
        <h1>Registration</h1>

        <form th:action="@{/register}" method="post" th:object="${userRegistrationRequest}">
            <div>
                <label>Name: <input type="text" th:field="*{name}"/></label>
            </div>
            <div>
                <label>Surname: <input type="text" th:field="*{surname}"/></label>
            </div>
            <div>
                <label>Username: <input type="text" th:field="*{username}"/></label>
            </div>
            <div>
                <label>Password: <input type="password" th:field="*{password}"/></label>
            </div>
            <div>
                <label>Email: <input type="email" th:field="*{email}"/></label>
            </div>
            <div><input type="submit" value="Register"/></div>
        </form>
    </body>
</html>